@{
    Layout = "~/Views/Shared/_Layoutnoheader.cshtml";
    ViewData["Title"] = "ฤฤng kรฝ";
}
@model BTL_LTWNC.Models.TblUser
<link rel="stylesheet" href="~/css/Account/DangKy.css" asp-append-version="true" />

<form id="form1" asp-action="Register" method="post">
<div class="form-dang-ky">
            <h1>ฤฤng kรฝ</h1>
            <label for="txtEmail">Email</label>
            <input type="text" id="txtEmail" class="form-control" asp-for="SEmail"/>
            <label id="LoiRongTxtEmail" style="display:none;">Bแบกn phแบฃi nhแบญp Email</label>
            <label id="LoiSaiDinhDang" style="display:none;">Bแบกn cแบงn nhแบญp ฤรบng ฤแปnh dแบกng Email</label>
            <label for="txtSoDienThoai">Sแป ฤiแปn thoแบกi</label>
            <input type="text" id="txtSoDienThoai" class="form-control" asp-for="SPhoneNumber"/>
            <label id="LoiRongTxtSoDienThoai" style="display:none;">Bแบกn phแบฃi nhแบญp Sแป ฤiแปn Thoแบกi</label>
            <label id="LoiSaiDinhDangSDT" style="display:none;">Bแบกn cแบงn nhแบญp ฤรบng ฤแปnh dแบกng</label>
            <label for="txtFullName">Hแป Tรชn</label>
            <input type="text" id="txtFullName" class="form-control" asp-for="SFullName"/>
            <label id="LoiRongTxtFullName" style="display:none;">Bแบกn phแบฃi nhแบญp hแป tรชn cแปงa mรฌnh</label>
            <label for="txtMatKhau">Mแบญt Khแบฉu</label>
            <div class="password-container">
                <input type="password" id="txtMatKhau" class="form-control" asp-for="SPassword" />
                <span class="password-toggle">๐๏ธ</span>
            </div>
            <label id="LoiRongTxtMatKhau" style="display:none;">Bแบกn cแบงn nhแบญp mแบญt khแบฉu</label>
            <label id="LoiRongDoDaiMK" style="display:none;">Mแบญt khแบฉu cแบงn tแปi thiแปu 6 kรฝ tแปฑ (bao gแปm cแบฃ chแปฏ hoa, chแปฏ thฦฐแปng vร sแป)</label>
            <label for="txtNhapLaiMatKhau">Nhแบญp Lแบกi Mแบญt Khแบฉu</label>
            <div class="password-container">
                <input type="password" id="txtNhapLaiMatKhau" name="txtNhapLaiMatKhau" class="form-control" />
                <span class="password-togglee">๐๏ธ</span>
            </div>
            <label id="LoiLapLaiTxtMatKhau" style="display:none;">Nhแบญp lแบกi mแบญt khแบฉu khรดng ฤรบng</label>
            <label id="LoiSaiTaiKhoan" style="display:none;"></label>
            <button type="submit" id="btnDangKy" name="btnDangKy">ฤฤng kรฝ</button>
            <p>ฤรฃ cรณ tรi khoแบฃn? <a asp-action="Login">ฤฤng nhแบญp</a></p>
        </div>
</form>
<script src="~/js/Account/DangKy.js"></script>
